/* RED RECTANGLE */
@media only screen and (max-device-width : 819px) {

	.edel {
		border-left: none;
		border-top: 40px groove $red;
		.frame {
			width: 100%;
			margin-left: 0 !important;
			margin-top: 10%;
			box-shadow: 0 -5px 20px -5px rgba(25, 0, 14, 0.75);
		}

		.html-text {
			top: 15%;
			left: 50%;
			transform: translateX(-50%);
		}
	}

}